* {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 46px;
    padding: 30px;
    min-width: 935px;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

input {
    border-radius: 5px;
    border: 1px solid #B5B5B5;
    text-align: center;
    width: 20px;
}

input.wrong {
    color: red;
}

mark {
    background-color: #fff;
}

mark.wrong {
    background-color: orange;
}

.hidden {
    display: none;
}

section.task > * {
    margin: 20px;
    padding: 0 5px;
    border-radius: 5px;
}

section.solution form {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    z-index: 100;
    margin-left: 35px;
}

section.solution .input-box {
    position: absolute;
    font-size: 18px;
}

figure  {
    text-align: center;
    position: relative;
    margin: 0;
    width: 875px;
    height: 170px;
    background-image: url('../img/sprite.png');
    background-size: 875px 83px;
    background-repeat: no-repeat;
    background-position: left bottom;
}

figure svg {
    display: block;
    position: absolute;
    left: 0;
    margin-left: 35px;
    z-index: 10;
    width: 875px;
    height: 170px;
}

.task .solved,
#sum-field {
    width: 77px;
}